{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class='conatiner mt-5'>
    <div class='container'>
      <h1>Heart  </h1>
    </div>
    <form
    action="http://127.0.0.1:5000/heart"
    method="POST"
    enctype="multiport/form-data"
    >
    <div class="formclass ">
      <label>Age :</label>
      <input type="text" name="age" /><br />
      <label>Sex(1:Male,0:Female) :</label>
      <input type="text" name="sex" /><br />
      <label>Chest Pain Type :</label>
      <input type="text" name="chest" /><br />
      <label>Trestbps :</label>
      <input type="text" name="trestbps" /><br />
      <label>Serum cholestoral in mg/dl :</label>
      <input type="text" name="chol" /><br />
      <label>Fbs :</label>
      <input type="text" name="fbs" /><br />
      <label>Restecg :</label>
      <input type="text" name="restecg" /><br />
      <label>Thalach :</label>
      <input type="text" name="thalach" /><br />
      <label>Exang :</label>
      <input type="text" name="exang" /><br />
      <label>Oldpeak :</label>
      <input type="text" name="oldpeak" /><br />
      <label>Slope :</label>
      <input type="text" name="slope" /><br />
      <label>ca :</label>
      <input type="text" name="ca" /><br />
      <label>Thal :</label>
      <input type="text" name="thal" /><br />
    
      <input type="submit" />
    </div>
    </form>
  </div>

{% endblock content %}


